.speak_button>button{
    background-color: rgb(89, 71, 255);
    border: 2px solid #1a2c4b;
    border-radius: 50%;
    padding: 0.4rem 0.5rem;
    font-size: 1.5rem;    
    box-shadow: 4px 4px  #131f35;
}
.speak_button>button:hover{
    background-color: rgb(228 64 45);
    cursor: pointer;
}


/* Medium devices (tablets)*/
@media (max-width: 992px) {
    
    .speak_button>button{
        padding: 0.5rem 0.6rem;
        font-size: 2rem;    
    }
    
}

/* Small devices (landscape /phones,)*/
@media (max-width: 767px) {
    .speak_button>button{
        font-size: 1.5rem;    
    }
 }