.setting_container{
  display: flex; 
  width: 50%;
}

.setting_button{
    background-color: transparent;
    border: none;
}

.setting_button>img{
   width: 3rem;
}
.rotate{
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

.setting_button> img:hover{
    cursor: pointer;
}
.setting_container>form{
  display: flex;
  justify-content: space-around;
}
.setting_container>form>div{ 
  padding-right: 5px;
}
.setting_container>form>div>div>label{
  color: rgb(30, 10, 78);
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

.setting_container>form>div>div>select{
  padding: 5px;
  color: rgb(30, 10, 78); 
  border: 2px solid #1a2c4b;
  border-radius: 5px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

/* Medium devices (tablets)*/
@media (max-width: 992px) {
    
  .setting_container{
    padding-bottom: 3rem;
  }
  .setting_button>img{
    width: 3.5rem;
 }
    
}

/* Small devices (landscape /phones,)*/
@media (max-width: 767px) {
  .setting_container{
    width: 95%;
    padding-bottom: 2rem;
  }
  .setting_button>img{
    width: 2.5rem;
 }
 }